.homepage-carousel {
  max-width: 100%;
}

.homepage-carousel .carousel-item {
  height: 480px;
}

.homepage-carousel .carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.homepage-carousel .carousel-item {
  height: clamp(260px, 45vw, 520px);
}
