#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hamburger-button {
  padding: 8px 10px !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 8px !important;
}

.hamburger-button:hover {
  background-color: lightgray !important;
}